body, html {
    margin:0; padding:0;
    width:100%; height:100%;
    background-color: #5bb7ff;
}

* {
    box-sizing: border-box;
    position: absolute;
}

img {
    margin-top: 400px;
    padding: 0;
}

.explode {
    background-image: url("../img/explosion.png");
    width: 130px;
    height: 130px;
}

bomb {
    width: 30px;
    height:30px;
    background-image: url("../img/bomb.png");
    background-size: cover;
    display: block;
}

